/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f0f0f0;
    margin: 0px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
}

textarea:focus, input:focus{
    outline: none;
}

.z-head-wrapper {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px -1px 8px #aaa;
}
img.z-logo {
    margin-left: 70px;
}
.z-login-signup-menu {
    float: right;
    color: #26B5EA;
    margin-right: 100px;
}
.z-content-wrapper {
    margin: 0px 50px 0 50px;
}

input.z-search {
    height: 50px;
    width: 550px;
    margin: 80px auto;
    display: block;
    border-radius: 28px;
    border-style: none;
    border: 1px solid #26B5EA;
    padding-left: 30px;
    font-size: 24px;
}

.z-search-icon {
    position: absolute;
    top: 200px;
    left: 1203px;
    font-size: 32px;
    opacity: 0.5;
}

.z-search-output-wrapper {
    background: #fff;
    padding: 30px;
    width: 80%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-img img{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.search-output {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.search-output:first-child {
    padding-top: 0px;
}
.search-output:last-child {
    border: none;
}