/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f0f0f0;
    margin: 0px;
    font-family: 'Roboto', sans-serif !important;
    font-size: 18px;
}

button:focus, textarea:focus, input:focus{
    outline: none;
}

.z-head-wrapper {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px -1px 8px #aaa;
}
img.z-logo {
    margin-left: 70px;
}
.z-login-signup-menu {
    float: right;
    color: #26B5EA;
    margin-right: 100px;
}
.z-content-wrapper {
    margin: 0px 50px 0 50px;
}
.z-search {
    height: 50px;
    width: 530px;
    display: block;
    border-radius: 28px 0px 0px 28px;
    border-style: none;
    border: 1px solid #26B5EA;
    padding-left: 30px;
    font-size: 24px;
    float: left;
}
.z-search-icon {
    position: absolute;
    top: 200px;
    left: 1203px;
    font-size: 32px;
    opacity: 0.5;
}

.z-search-output-wrapper {
    background: #fff;
    padding: 30px;
    width: 60%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-img img{
    float: left;
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.z-search-wrapper {
    width: 740px;
    margin: 120px auto;
}

.search-output {
    padding-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.search-output:hover {
    cursor: pointer;
    background: #fafafa;
}

.search-output:last-child {
    border: none;
}

.z-search-btn {
    padding: 9px;
    font-size: 30px;
    background: #fff;
    border-radius: 130px;
    color: #26B5EA;
    border: 1px solid #26b5ea;
    border-radius: 0px 28px 28px 0px;
}
.z-search-btn:hover {
    border: 1px solid #26B5EA;
    background-color: #26B5EA;
    color: #FFF;
}

.z-content-detail-wrapper {
    width: 60%;
    background-color: #FFF;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin: auto;
    padding: 30px;
    min-height: 250px;
}

.z-btn-back-wrapper {
    margin: 150px auto 0px;
    width: 60%;
}

.z-btn-back {
    padding: 15px;
    margin-left: -30px;
    width: 170px;
    border-radius: 40px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #26B5EA;
    color: #26B5EA;
    background: #fff;
    cursor: pointer;
}
.z-btn-back:hover { 
    border: 1px solid #fff;
    color: #fff;
    background: #26B5EA;
}